*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
/app/.cxx/
/app/cache/
/app/OpenCV/
/app/PaddleLite/
/app/src/main/assets/labels/
/app/src/main/assets/models/
